/* preset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 57em) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #181717;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
